In [13]:
import pandas as pd

In [17]:
import pandas as pd

# Creating the dataset as a dictionary
data = {
    "StudentID": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
    "G1": [6, 19, 14, 10, 7, 6, 18, 10, 10, 3, 7],
    "G2": [2, 11, 7, 2, 0, 2, 4, 14, 13, 2, 0],
    "G3": [2, 18, 19, 6, 19, 8, 0, 7, 6, 17, 7],
    "Mjob": ["teacher", "health", "health", "services", "health", "health", "services", "health", "health", "health", "teacher"],
    "Fjob": ["at_home", "teacher", "other", "health", "health", "other", "at_home", "health", "at_home", "health", "health"],
    "age": [21, 18, 20, 21, 18, 17, 16, 21, 19, 19, 17],
    "address": ["rural", "rural", "urban", "urban", "rural", "urban", "urban", "rural", "urban", "rural", "urban"],
    "studytime": [3, 1, 1, 3, 4, 1, 2, 1, 2, 4, 3],
    "failures": [1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 1],
    "schoolsup": ["no", "no", "yes", "yes", "no", "yes", "yes", "no", "no", "yes", "no"],
    "famsup": ["yes", "no", "yes", "no", "no", "yes", "no", "no", "no", "yes", "no"],
    "paid": ["yes", "no", "yes", "yes", "yes", "no", "no", "no", "no", "no", "yes"],
    "activities": ["yes", "no", "no", "no", "no", "no", "yes", "yes", "no", "yes", "no"],
    "nursery": ["yes", "yes", "no", "yes", "yes", "yes", "yes", "yes", "yes", "yes", "yes"],
    "higher": ["yes", "no", "yes", "no", "yes", "no", "yes", "no", "no", "no", "no"],
    "internet": ["no", "no", "yes", "no", "yes", "yes", "yes", "yes", "no", "yes", "yes"],
    "romantic": ["yes", "no", "yes", "no", "no", "yes", "yes", "yes", "no", "yes", "no"]
}

# Loading the dataset into a pandas DataFrame
df = pd.DataFrame(data)

# Displaying the first few rows of the dataset
print(df.head())

   StudentID  G1  G2  G3      Mjob     Fjob  age address  studytime  failures  \
0          1   6   2   2   teacher  at_home   21   rural          3         1
1          2  19  11  18    health  teacher   18   rural          1         1
2          3  14   7  19    health    other   20   urban          1         1
3          4  10   2   6  services   health   21   urban          3         1
4          5   7   0  19    health   health   18   rural          4         1

  schoolsup famsup paid activities nursery higher internet romantic
0        no    yes  yes        yes     yes    yes       no      yes
1        no     no   no         no     yes     no       no       no
2       yes    yes  yes         no      no    yes      yes      yes
3       yes     no  yes         no     yes     no       no       no
4        no     no  yes         no     yes    yes      yes       no

In [19]:
import pandas as pd

# Creating the dataset as a dictionary
data = {
    "StudentID": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
    "G1": [6, 19, 14, 10, 7, 6, 18, 10, 10, 3, 7],
    "G2": [2, 11, 7, 2, 0, 2, 4, 14, 13, 2, 0],
    "G3": [2, 18, 19, 6, 19, 8, 0, 7, 6, 17, 7],
    "Mjob": ["teacher", "health", "health", "services", "health", "health", "services", "health", "health", "health", "teacher"],
    "Fjob": ["at_home", "teacher", "other", "health", "health", "other", "at_home", "health", "at_home", "health", "health"],
    "age": [21, 18, 20, 21, 18, 17, 16, 21, 19, 19, 17],
    "address": ["rural", "rural", "urban", "urban", "rural", "urban", "urban", "rural", "urban", "rural", "urban"],
    "studytime": [3, 1, 1, 3, 4, 1, 2, 1, 2, 4, 3],
    "failures": [1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 1],
    "schoolsup": ["no", "no", "yes", "yes", "no", "yes", "yes", "no", "no", "yes", "no"],
    "famsup": ["yes", "no", "yes", "no", "no", "yes", "no", "no", "no", "yes", "no"],
    "paid": ["yes", "no", "yes", "yes", "yes", "no", "no", "no", "no", "no", "yes"],
    "activities": ["yes", "no", "no", "no", "no", "no", "yes", "yes", "no", "yes", "no"],
    "nursery": ["yes", "yes", "no", "yes", "yes", "yes", "yes", "yes", "yes", "yes", "yes"],
    "higher": ["yes", "no", "yes", "no", "yes", "no", "yes", "no", "no", "no", "no"],
    "internet": ["no", "no", "yes", "no", "yes", "yes", "yes", "yes", "no", "yes", "yes"],
    "romantic": ["yes", "no", "yes", "no", "no", "yes", "yes", "yes", "no", "yes", "no"]
}

# Loading the dataset into a pandas DataFrame
df = pd.DataFrame(data)

# Displaying the statistical information
print(df.describe(include='all'))

# Displaying the data types of each column
print(df.dtypes)

        StudentID        G1         G2         G3    Mjob    Fjob        age  \
count   11.000000  11.00000  11.000000  11.000000      11      11  11.000000
unique        NaN       NaN        NaN        NaN       3       4        NaN
top           NaN       NaN        NaN        NaN  health  health        NaN
freq          NaN       NaN        NaN        NaN       7       5        NaN
mean     6.000000  10.00000   5.181818   9.909091     NaN     NaN  18.818182
std      3.316625   5.09902   5.211875   7.020748     NaN     NaN   1.778661
min      1.000000   3.00000   0.000000   0.000000     NaN     NaN  16.000000
25%      3.500000   6.50000   2.000000   6.000000     NaN     NaN  17.500000
50%      6.000000  10.00000   2.000000   7.000000     NaN     NaN  19.000000
75%      8.500000  12.00000   9.000000  17.500000     NaN     NaN  20.500000
max     11.000000  19.00000  14.000000  19.000000     NaN     NaN  21.000000

       address  studytime   failures schoolsup famsup paid activities nursery  \
count       11  11.000000  11.000000        11     11   11         11      11
unique       2        NaN        NaN         2      2    2          2       2
top      urban        NaN        NaN        no     no   no         no     yes
freq         6        NaN        NaN         6      7    6          7      10
mean       NaN   2.272727   1.363636       NaN    NaN  NaN        NaN     NaN
std        NaN   1.190874   0.504525       NaN    NaN  NaN        NaN     NaN
min        NaN   1.000000   1.000000       NaN    NaN  NaN        NaN     NaN
25%        NaN   1.000000   1.000000       NaN    NaN  NaN        NaN     NaN
50%        NaN   2.000000   1.000000       NaN    NaN  NaN        NaN     NaN
75%        NaN   3.000000   2.000000       NaN    NaN  NaN        NaN     NaN
max        NaN   4.000000   2.000000       NaN    NaN  NaN        NaN     NaN

       higher internet romantic
count      11       11       11
unique      2        2        2
top        no      yes      yes
freq        7        7        6
mean      NaN      NaN      NaN
std       NaN      NaN      NaN
min       NaN      NaN      NaN
25%       NaN      NaN      NaN
50%       NaN      NaN      NaN
75%       NaN      NaN      NaN
max       NaN      NaN      NaN
StudentID      int64
G1             int64
G2             int64
G3             int64
Mjob          object
Fjob          object
age            int64
address       object
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
dtype: object

In [21]:
import pandas as pd

# Creating the dataset as a dictionary
data = {
    "StudentID": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
    "G1": [6, 19, 14, 10, 7, 6, 18, 10, 10, 3, 7],
    "G2": [2, 11, 7, 2, 0, 2, 4, 14, 13, 2, 0],
    "G3": [2, 18, 19, 6, 19, 8, 0, 7, 6, 17, 7],
    "Mjob": ["teacher", "health", "health", "services", "health", "health", "services", "health", "health", "health", "teacher"],
    "Fjob": ["at_home", "teacher", "other", "health", "health", "other", "at_home", "health", "at_home", "health", "health"],
    "age": [21, 18, 20, 21, 18, 17, 16, 21, 19, 19, 17],
    "address": ["rural", "rural", "urban", "urban", "rural", "urban", "urban", "rural", "urban", "rural", "urban"],
    "studytime": [3, 1, 1, 3, 4, 1, 2, 1, 2, 4, 3],
    "failures": [1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 1],
    "schoolsup": ["no", "no", "yes", "yes", "no", "yes", "yes", "no", "no", "yes", "no"],
    "famsup": ["yes", "no", "yes", "no", "no", "yes", "no", "no", "no", "yes", "no"],
    "paid": ["yes", "no", "yes", "yes", "yes", "no", "no", "no", "no", "no", "yes"],
    "activities": ["yes", "no", "no", "no", "no", "no", "yes", "yes", "no", "yes", "no"],
    "nursery": ["yes", "yes", "no", "yes", "yes", "yes", "yes", "yes", "yes", "yes", "yes"],
    "higher": ["yes", "no", "yes", "no", "yes", "no", "yes", "no", "no", "no", "no"],
    "internet": ["no", "no", "yes", "no", "yes", "yes", "yes", "yes", "no", "yes", "yes"],
    "romantic": ["yes", "no", "yes", "no", "no", "yes", "yes", "yes", "no", "yes", "no"]
}

# Loading the dataset into a pandas DataFrame
df = pd.DataFrame(data)

# Checking for missing data
missing_data = df.isnull().sum()

# Finding the number of rows with missing data
rows_with_missing_data = df.isnull().any(axis=1).sum()

print(f"Number of rows with missing data: {rows_with_missing_data}")
print(missing_data)

Number of rows with missing data: 0
StudentID     0
G1            0
G2            0
G3            0
Mjob          0
Fjob          0
age           0
address       0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
dtype: int64